$white: #f9f9f9;
$grey-light: #c3c3c3;
$border-grey: #ccc;

$grey-light2: #a5a5a5;
$disabled: #575757;

$dark-grey: #474747;
$background: #545454;

$red: #e74c3c;
$green: #45a049;
$green-hover: #189a1e;
$black: #171717;
